# Pandas tutorial from Kaggle

## 1. Creating, reading and writing

In [2]:
# Import the library
import pandas as pd

### 1.1 Creating data
There are two core objects in pandas: the **DataFrame** and the **Series**.

### DataFrame

A DataFrame is like a table.

In [3]:
# Let's create our first dataframe from a dictionary
pd.DataFrame({"Yes": [50, 21], "No": [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
# Entries are not limited to integers:
pd.DataFrame({"Bob": ["I liked it.", "It was awful."], "Sue": ["Pretty good.", "Bland."]})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
# The list of row labels used in a DataFrame is known as an Index.
pd.DataFrame({"Bob": ["I liked it.", "It was awful."],
              "Sue": ["Pretty good.", "Bland."]},
             index=["Product A", "Product B"])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series

A Series is a sequence of data values.

In [6]:
# Let's create a Series from a list
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# You can assign indexes to a Series instance.
pd.Series([1, 2, 3, 4, 5],
          index=["2015", "2016", "2017", "2018", "2019"],
          name="Product A"  # you can assign a name to the Series too
          )

2015    1
2016    2
2017    3
2018    4
2019    5
Name: Product A, dtype: int64

### 1.2 Reading data files

In [8]:
%cd drive/MyDrive/Colab\ Notebooks

/content/drive/MyDrive/Colab Notebooks

In [9]:
# Reading data from a CSV
csv_path = "./data/winemag-data-130k-v2.csv"
wine_reviews = pd.read_csv(csv_path)

In [10]:
# Use the shape attribute to check how large the resulting DataFrame is:
wine_reviews.shape

(129971, 14)

In [11]:
# Visualize the first 5 rows
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [12]:
# To use the 'unnamed' column as index:
wine_reviews = pd.read_csv(csv_path, index_col=0)
wine_reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

## Exercise of section 1: See notebook.

## 2. Indexing, selecting & assigning

In [13]:
# Let's read a CSV to work with
import pandas as pd
reviews = pd.read_csv("./data/winemag-data-130k-v2.csv", index_col=0)
pd.set_option('max_rows', 5)

## 2.1 Native accessors from Python

Columns in a pandas DataFrame can be accessed like attributes in a Python object.

In [14]:
# Considering this dataframe:
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [15]:
# You can access the 'country' column by:
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [16]:
# Which is a Series object
type(reviews.country)

pandas.core.series.Series

Columns in a pandas DataFrame can be accessed like values in a dictionary.

In [17]:
# You can access the 'country' column by:
reviews["country"]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

If you want to select a specific value of a pandas Series, you can use the indexing operator:

In [18]:
# Access the first entry of the column 'country'
reviews["country"][0]

'Italy'

### 2.1 Accessing with pandas

Pandas has its own accessor operators, **loc** and **iloc**.

Both loc and iloc are **row-first, column-second**. This is the opposite of what we do in native Python, which is column-first, row-second.

#### Index-based selection

It's a paradigms for selecting data based on its **numerical position** in the data: **iloc**.

In [19]:
# To select the first row in the data, use:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [20]:
# To retrieve the first column, we can do:
reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [21]:
# To retrieve the first 3 entries from the first column, we do:
reviews.iloc[:3, 0]  # will select 0, 1 and 2 rows

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [22]:
# It's also possible to pass a list:
reviews.iloc[[0, 2, 4], 0]

0    Italy
2       US
4       US
Name: country, dtype: object

In [23]:
# As with Python, we can use negative indexes to retrieve from the end:
reviews.iloc[-5:]

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

#### Label-based selection
In this paradigm, it's the **data index value**, not its position, which matters: **loc**.

In [24]:
# For example, to access the 1st row of the 'country' column:
reviews.loc[0, "country"]

'Italy'

In [25]:
reviews.loc[:3, "country"]  # will select 0, 1, 2 and 4 rows

0       Italy
1    Portugal
2          US
3          US
Name: country, dtype: object

In [26]:
# To select the first entry of two different columns:
reviews.loc[0, ["country", "description"]]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
Name: 0, dtype: object

**IMPORTANT NOTE**: iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

### 2.2 Manipulating the index

The index we use is not immutable, so we can manipulate it.

In [27]:
# To change the index of a dataframe:
reviews.set_index("title")

                                                     country  ...                winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...               Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...   Quinta dos Avidagos
...                                                      ...  ...                   ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...  Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...      Domaine Schoffit

[129971 rows x 12 columns]

### 2.3 Conditional selection
We often need to ask questions about the data based on conditions.

In [28]:
# For example, let's see how we can inspect if the wine is italian or not
reviews.country == "Italy"

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [29]:
# This is a Series of boolean values:
type(reviews.country == "Italy")

pandas.core.series.Series

In [30]:
# You can use 'loc' to select the relevant data
reviews.loc[reviews.country == "Italy"]

       country  ...           winery
0        Italy  ...          Nicosia
6        Italy  ...  Terre di Giurfo
...        ...  ...              ...
129961   Italy  ...              COS
129962   Italy  ...         Cusumano

[19540 rows x 13 columns]

In [31]:
# Now, we want to select all the italian wines as well as those who are better 
# than average. To do that, we can use the '&' symbol:
reviews.loc[(reviews.country == "Italy") & (reviews.points >= 90)]

       country  ...    winery
120      Italy  ...   Ceretto
130      Italy  ...   Ceretto
...        ...  ...       ...
129961   Italy  ...       COS
129962   Italy  ...  Cusumano

[6648 rows x 13 columns]

In [32]:
# To select wines that come from Italy OR are above average, we can use the '|'
# operator

reviews.loc[(reviews.country == "Italy") | (reviews.points >= 90)]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[61937 rows x 13 columns]

Pandas comes with a few built.in conditional selectors:
- **'isin'**: lets you select data whose value "is in" a list of values.

In [33]:
# Let's select wines that come from Italy or France:
reviews.loc[reviews.country.isin(["Italy", "France"])]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[41633 rows x 13 columns]

- **isnull** (or **notnull**): highlight values which are (or are not) empty (NaN).

In [34]:
# To select wines with a price we can do:
reviews.loc[reviews.price.notnull()]

         country  ...                winery
1       Portugal  ...   Quinta dos Avidagos
2             US  ...             Rainstorm
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[120975 rows x 13 columns]

### 2.4 Assigning data

In [35]:
# To assign a constant value to a column you can do:
reviews["critic"] = "everyone"
reviews["critic"]

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

In [36]:
# Similarly, you can assign an iterable of values
total_entries = len(reviews)
reviews["index_backwards"] = range(total_entries, 0, -1)
reviews["index_backwards"]

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

## Exercise of section 2: See notebook.

## 3. Summary functions and maps

In [37]:
# Let's import numpy too
import numpy as np

In [38]:
# Let's review our dataframe
reviews.head()

    country  ... index_backwards
0     Italy  ...          129971
1  Portugal  ...          129970
2        US  ...          129969
3        US  ...          129968
4        US  ...          129967

[5 rows x 15 columns]

### 3.1 Summary functions

In [39]:
# Let's describe a column of our dataframe
reviews["points"].describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [40]:
# The output from 'describe()' changes based on the data type
reviews["taster_name"].describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [41]:
# You can use pandas functions to get a particular summary too. For example, to
# get the mean:
reviews["points"].mean()

88.44713820775404

In [42]:
# To see a list of unique values
reviews["taster_name"].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [43]:
# To see a list of unique values and how ofter they occur, we can do:
reviews["taster_name"].value_counts()

Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: taster_name, Length: 19, dtype: int64

In [44]:
type(reviews["taster_name"].value_counts())

pandas.core.series.Series

### 3.2 Maps

#### Using the built-in function **map()** to transform **Series**:

In [45]:
# Let's see an example: remean the wine scores to 0:
review_points_mean = reviews["points"].mean()
reviews["points"] = reviews["points"].map(lambda p: p - review_points_mean)

In [46]:
# Let's describe this column again:
reviews["points"].describe()

count    1.299710e+05
mean    -1.283045e-14
             ...
75%      2.552862e+00
max      1.155286e+01
Name: points, Length: 8, dtype: float64

#### Using the built-in function **apply()** to transform **DataFrames**:

To transform a whole DataFrame by calling a custom method on each row.

In [47]:
# Reload the dataframe
reviews = pd.read_csv(csv_path, index_col=0)
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [48]:
# Let's first define what we want to do with each row:
def remean_points(row):
  row["points"] = row["points"] - review_points_mean
  return row

In [49]:
# And now apply that function to each row
reviews.apply(remean_points, axis="columns")
#reviews.apply(remean_points, axis="axis")  # this would transform the df col by col

         country  ...                winery
0          Italy  ...               Nicosia
1       Portugal  ...   Quinta dos Avidagos
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[129971 rows x 13 columns]

In [50]:
# By default, map() and apply() doesn't modify the original data
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [51]:
# Pandas provices many common mapping operations as built-ins. For example, to
# remean faster:
reviews["points"] - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [52]:
# Pandas will also understand what to do if we perform these operations between 
# Series of equal length. For example, to combine country and region:
reviews["country"] + " - " + reviews["region_1"]

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

These operations are faster than using map() and apply().

All of the standard Python operators (>, <, ==, and so on) work in this manner.

However, map() and apply() provide more flexibility and advanced processing.

## Exercise of section 3: See notebook.

## 4. Grouping & Sorting

### 4.1 Groupwise analysis

In [59]:
reviews.shape

(129971, 13)

In [57]:
# You can count the total point entries by doing:
reviews["points"].count()

129971

In [53]:
# Count how many entries of each point are
reviews["points"].value_counts()

88     17207
87     16933
       ...
99        33
100       19
Name: points, Length: 21, dtype: int64

In [56]:
# You can do the same thing by doing:
reviews.groupby("points")["points"].count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [60]:
# We can use any of the summary function with this data.
# For example, to get the cheapest wine in each point:
reviews.groupby("points")["price"].min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

In [61]:
# The groups are like slices from the original dataframe. We can do things like
# apply the 'apply()' method too:
reviews.groupby("winery").apply(lambda df: df.iloc[0]["title"])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [62]:
# You can group by more than one column:
reviews.groupby(["country", "province"]).apply(lambda df: df.loc[df["points"].idxmax()])

                              country  ...                winery
country   province                     ...
Argentina Mendoza Province  Argentina  ...  Bodega Catena Zapata
          Other             Argentina  ...                Colomé
...                               ...  ...                   ...
Uruguay   San Jose            Uruguay  ...        Castillo Viejo
          Uruguay             Uruguay  ...               Narbona

[425 rows x 13 columns]

In [63]:
# Another method worth mentioning is 'agg()', which lets you run a bunch of
# different function on your df:

# Without grouping:
reviews["price"].agg([len, min, max])

len    129971.0
min         4.0
max      3300.0
Name: price, dtype: float64

In [64]:
# agg() with grouping:
reviews.groupby("country")["price"].agg([len, min, max])

              len   min    max
country
Argentina  3800.0   4.0  230.0
Armenia       2.0  14.0   15.0
...           ...   ...    ...
Ukraine      14.0   6.0   13.0
Uruguay     109.0  10.0  130.0

[43 rows x 3 columns]

#### Multi-indexes

groupby() will sometimes result in what is called a multi-index instead of single-label index. A multi-index differs from a regular index in that it has multiple levels.

In [70]:
# Let's create some groups
countries_reviewed = reviews.groupby(["country", "province"])["description"].agg([len])

In [69]:
# The review index is just a single-label
type(reviews.index)

pandas.core.indexes.numeric.Int64Index

In [71]:
# However, the indexes of the grouped df are multiple:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [77]:
countries_reviewed.head()

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value. See pandas documentation for more.

In [74]:
# The method you're going to use more is the one for converting back to a
# regular index.
reset_countries_reviewed = countries_reviewed.reset_index()
reset_countries_reviewed.head()

     country          province   len
0  Argentina  Mendoza Province  3264
1  Argentina             Other   536
2    Armenia           Armenia     2
3  Australia   Australia Other   245
4  Australia   New South Wales    85

In [76]:
type(reset_countries_reviewed.index)

pandas.core.indexes.range.RangeIndex

### 4.2 Sorting

In [78]:
# When outputting the result of a groupby, the order of the rows is dependent on
# the values in the index, not in the data.
countries_reviewed.head()

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85

In [81]:
reset_countries_reviewed.head()

     country          province   len
0  Argentina  Mendoza Province  3264
1  Argentina             Other   536
2    Armenia           Armenia     2
3  Australia   Australia Other   245
4  Australia   New South Wales    85

In [79]:
# We can sort the entries by value like this:
reset_countries_reviewed.sort_values(by="len")  

# note we're using the df with the reset index

    country               province    len
179  Greece  Muscat of Kefallonian      1
192  Greece          Sterea Ellada      1
..      ...                    ...    ...
415      US             Washington   8639
392      US             California  36247

[425 rows x 3 columns]

In [80]:
# If you want descending order, use:
reset_countries_reviewed.sort_values(by="len", ascending=False)

    country    province    len
392      US  California  36247
415      US  Washington   8639
..      ...         ...    ...
63    Chile     Coelemu      1
149  Greece      Beotia      1

[425 rows x 3 columns]

In [82]:
# Similarly, if you want to sort the df by index values use:
reset_countries_reviewed.sort_index()  # same args as sort_values()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [83]:
# You can order by more than column at a time:
reset_countries_reviewed.sort_values(by=["country", "len"])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
..         ...               ...   ...
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

In [84]:
# Another example:
reset_countries_reviewed.sort_values(by=["len", "country"])

    country          province    len
40   Brazil  Serra do Sudeste      1
48   Canada      Canada Other      1
..      ...               ...    ...
415      US        Washington   8639
392      US        California  36247

[425 rows x 3 columns]

## Exercise of section 4: See notebook.

## 5. Data Types & Missing Values

### 5.1 Dtypes

In [85]:
# You can use the dtype property to grab the type of a specific column:
reviews["price"].dtype

dtype('float64')

In [87]:
# For every column in the dataset:
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 13, dtype: object

Columns consisting entirely of strings do not get their own type; they are instead given the object type.

In [90]:
# You can convert columns to other types:
print(f"Dtype before: {reviews['points'].dtype}")
reviews["points"] = reviews["points"].astype("float64")
print(f"Dtype after: {reviews['points'].dtype}")

Dtype before: int64
Dtype after: float64

In [92]:
reviews.head(2)

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos

[2 rows x 13 columns]

In [93]:
# Indexes have their own type too:
reviews.index.dtype

dtype('int64')

### 5.2 Missing data

NaN values are always of the float64 dtype.

In [94]:
# To select missing values in a column:
reviews[reviews["country"].isnull()]
# reviews[pd.isnull(reviews.country)]  # another syntax

       country  ...              winery
913        NaN  ...  Gotsa Family Wines
3131       NaN  ...   Barton & Guestier
...        ...  ...                 ...
129590     NaN  ...           Büyülübağ
129900     NaN  ...              Psagot

[63 rows x 13 columns]

In [95]:
# To fill missing values we can use 'fillna()':
reviews["country"].fillna("Unknown")  # replaces NaN with Unknown

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

Alternatively, we may have a non-null value that we would like to replace:

In [96]:
reviews["taster_twitter_handle"].replace("@kerinokeefe", "@kerino")

0            @kerino
1         @vossroger
             ...
129969    @vossroger
129970    @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

## Exercise of section 5: See notebook.

## 6. Renaming & Combining

### 6.1 Renaming

In [97]:
# To change a column name you can do:
reviews.rename(columns={"points": "score"})

         country  ...                winery
0          Italy  ...               Nicosia
1       Portugal  ...   Quinta dos Avidagos
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[129971 rows x 13 columns]

In [98]:
# To change and index name
reviews.rename(index={0: "firstEntry", 1: "secondEntry"})

              country  ...                winery
firstEntry      Italy  ...               Nicosia
secondEntry  Portugal  ...   Quinta dos Avidagos
...               ...  ...                   ...
129969         France  ...  Domaine Marcel Deiss
129970         France  ...      Domaine Schoffit

[129971 rows x 13 columns]

In [99]:
# To rename row or columns indexes, you can use:
renamed_reviews = reviews.rename_axis("wines", axis="rows")
renamed_reviews = renamed_reviews.rename_axis("fields", axis="columns")
renamed_reviews

fields   country  ...                winery
wines             ...
0          Italy  ...               Nicosia
1       Portugal  ...   Quinta dos Avidagos
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[129971 rows x 13 columns]

### 6.2 Combining

To combine Series and DataFrame, pandas has 3 core methods:
- concat()
- join()
- merge()

In [100]:
# Let's read the YouTube Videos dataset which has multiple dfs
ca_csv_path = "./data/CAvideos.csv"
canadian_youtube = pd.read_csv(ca_csv_path)

british_csv_path = "./data/GBvideos.csv"
british_youtube = pd.read_csv(british_csv_path)

In [106]:
canadian_youtube

          video_id  ...                                        description
0      n1WpP7iowLc  ...  Eminem's new track Walk on Water ft. Beyoncé i...
1      0dBIkQ4Mz1M  ...  STill got a lot of packages. Probably will las...
...            ...  ...                                                ...
40879  lbMKLzQ4cNQ  ...  Peter Navarro isn’t talking so tough now. Ana ...
40880  POTgw38-m58  ...  藝人：李妍瑾、玉兔、班傑、LaLa、小優、少少專家：陳筱屏(律師)、Wendy(心理師)、羅...

[40881 rows x 16 columns]

In [105]:
british_youtube

          video_id  ...                                        description
0      Jw1Y-zhQURU  ...  Click here to continue the story and make your...
1      3s1rvMFUweQ  ...  Musical guest Taylor Swift performs …Ready for...
...            ...  ...                                                ...
38914  -DRsfNObKIQ  ...  Eleni Foureira represented Cyprus at the first...
38915  4YFo4bdMO8Q  ...  Debut album 'Light of Mine' out now: http://ky...

[38916 rows x 16 columns]

In [103]:
# To concat these two dfs, you can do:
pd.concat([canadian_youtube, british_youtube])

          video_id  ...                                        description
0      n1WpP7iowLc  ...  Eminem's new track Walk on Water ft. Beyoncé i...
1      0dBIkQ4Mz1M  ...  STill got a lot of packages. Probably will las...
...            ...  ...                                                ...
38914  -DRsfNObKIQ  ...  Eleni Foureira represented Cyprus at the first...
38915  4YFo4bdMO8Q  ...  Debut album 'Light of Mine' out now: http://ky...

[79797 rows x 16 columns]

join() lets you combine different DataFrame objects which have an index in common.

In [108]:
# Set new indexes for both CA and GB
left = canadian_youtube.set_index(["title", "trending_date"])
left.head(2)

                                                             video_id  ...                                        description
title                                      trending_date               ...
Eminem - Walk On Water (Audio) ft. Beyoncé 17.14.11       n1WpP7iowLc  ...  Eminem's new track Walk on Water ft. Beyoncé i...
PLUSH - Bad Unboxing Fan Mail              17.14.11       0dBIkQ4Mz1M  ...  STill got a lot of packages. Probably will las...

[2 rows x 14 columns]

In [110]:
right = british_youtube.set_index(["title", "trending_date"])
right.head(2)

                                                                video_id  ...                                        description
title                                         trending_date               ...
John Lewis Christmas Ad 2017 - #MozTheMonster 17.14.11       Jw1Y-zhQURU  ...  Click here to continue the story and make your...
Taylor Swift: …Ready for It? (Live) - SNL     17.14.11       3s1rvMFUweQ  ...  Musical guest Taylor Swift performs …Ready for...

[2 rows x 14 columns]

In [111]:
# Since both have common indexes, we can use join:
left.join(right, lsuffix="_CAN", rsuffix="_UK")

                                                                 video_id_CAN  ... description_UK
title                                              trending_date               ...
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       PNn8sECd7io  ...            NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       DvPW66IFhMI  ...            NaN
...                                                                       ...  ...            ...
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       Wt9Gkpmbt44  ...            NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Az72jrKbANA  ...            NaN

[40900 rows x 28 columns]

## Exercise of section 6: See notebook.